:root {
  --proportion: 20%;
}

/**
https://codepen.io/MarioD/pen/ExVZBjx   Player Simulation
https://codepen.io/MarioD/pen/VwvLJOP   Swap Button
*/
/* ------------- */
/* Global Styles */
/* ------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #5e3fde;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.game {
  width: 800px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

/* ---------- */
/* Game Board */
/* ---------- */

.game-board {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  background: #020357;
  border: 5px solid #25166c;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.game-board__button {
  width: var(--proportion); /*33%;*/
  height: var(--proportion); /*33%;*/
  background: transparent;
  padding: 0;
  border: 5px solid #25166c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
}

.game-board__button:hover {
  background: #01023a;
}
.game-board__button--disabled {
  cursor: auto;
}
.game-board__button--disabled:hover {
  background: #020357;
}

.game-state {
  background: #fff;
}

/* ------- */
/* X and O */
/* ------- */

.o {
  width: 60%;
  transform: rotate(-90deg);
}

.o__line {
  fill: none;
  stroke: #fba919;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-dasharray: 126;
  stroke-linecap: round;
}

.o--enter .o__line {
  stroke-dashoffset: 126;
}
.o--enter-active .o__line {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.7s cubic-bezier(0.85, 0, 0.15, 1);
}
.o--enter-done .o__line {
  stroke-dashoffset: 0;
}

.x {
  width: 55%;
}

.x__line {
  fill: none;
  stroke: #f05483;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 45;
}

.x--enter .x__line-1 {
  stroke-dashoffset: 45;
}
.x--enter-active .x__line-1 {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}
.x--enter-done .x__line-1 {
  stroke-dashoffset: 0;
}

.x--enter .x__line-2 {
  stroke-dashoffset: 45;
}
.x--enter-active .x__line-2 {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.35s 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}
.x--enter-done .x__line-2 {
  stroke-dashoffset: 0;
}

.keys {
  width: 800px;
  display: block;
  margin: 15vh auto;
  text-align: center;
}

.key__button {
  box-sizing: border-box;
  line-height: 80px;
  font-size: 22px;
  text-align: center;
  width: 80px;
  color: #555;
  cursor: pointer;
  margin: 0 10px 20px 5px;
  height: 80px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  /* border-width: 1px; */
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

.key__button:hover,
.key__button:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
  transform: translateY(2px);
}

.key__button:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
  transform: translateY(4px);
}

.game-actions {
  height: 5%;
  width: 95%;
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  margin-top: 3px;
  padding-top: 7px;
}

.action__message {
  width: 60%;
  padding: 5px 0px 0px 10px;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px #000;
  border: none;
}

.action__session {
  width: 20%;
  color: #25166c;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  transition: background 200ms linear;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px #000;
  cursor: pointer;
}

.action__end {
  width: 15%;
  color: #25166c;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  transition: background 200ms linear;
  border: 1px solid #01023a;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px #01023a;
  cursor: pointer;
}

/* ------ */
/* Player */
/* ------ */

.player {
  display: flex;
  cursor: pointer;
}

.player__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f4ff;
  padding: 0 10px 0 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 20;
  user-select: none;
}

.player__label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #f7f4ff;
}

.player__icon {
  width: 40px;
  height: 40px;
  background: #ffbec6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 8px;
}

.player__icon--enter {
  transform: translateX(-48px);
}
.player__icon--enter-active {
  transform: translateX(0);
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.player__icon--enter-done {
  transform: translateX(0);
}

.player__icon--exit {
  transform: translateX(0);
}
.player__icon--exit-active {
  transform: translateX(-48px);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.player__icon--exit-done {
  transform: translateX(-48px);
}

/* ----- */
/* Icons */
/* ----- */

.icon {
  height: 50%;
  cursor: pointer;
}

.icon__line {
  fill: none;
  stroke: #f05483;
  stroke-width: 20;
  stroke-miterlimit: 10;
  transition: stroke 0.2s;
  stroke-linecap: round;
}

/* ------ */
/* Preservation */
/* ------ */

.preserve {
  display: flex;
  cursor: pointer;
}

.preserve__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 0 10px 0 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 20;
  user-select: none;
}

.preserve__label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #f7f4ff;
}

.preserve__icon {
  width: 50px;
  height: 40px;
  background: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.preserve__icon--enter {
  transform: translateX(-48px);
}
.preserve__icon--enter-active {
  transform: translateX(0);
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.preserve__icon--enter-done {
  transform: translateX(0);
}

.preserve__icon--exit {
  transform: translateX(0);
}
.preserve__icon--exit-active {
  transform: translateX(-48px);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.preserve__icon--exit-done {
  transform: translateX(-48px);
}

/* ----- */
/* ON/OFF */
/* ----- */

.switch {
  height: 50%;
  cursor: pointer;
}

.switch__line {
  fill: none;
  stroke: #f05483;
  stroke-width: 20;
  stroke-miterlimit: 10;
  transition: stroke 0.2s;
  stroke-linecap: round;
}

.preserve__settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
